body {
    margin: 0px;
    padding: 0px;
}

.brands--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab'; 
    color: #142B57;
    text-align: center;
    font-weight: 500; 
    font-size: 30px; 
    /*border: 5px green solid;*/
    margin-bottom: 2%;
}

.brands--container img {
    width: 60%;
}

@media screen and (max-width: 576px) {
    .brands--container img {
        transform: scale(1.5);
    }

    .brands--container{
        margin-bottom: 8%;
        font-size: 1.8rem; 
    }
    
  }

  @media screen and (min-width: 576px) and (max-width: 768px) {
    .brands--container img {
        transform: scale(1.5);
    }

    .brands--container{
        margin-bottom: 8%;
        font-size: 1.8rem; 
    }
    
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {

    .brands--container{
        font-size: 2rem; 
    }

    .brands--container img {
        transform: scale(1.5);
    }

  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {

    .brands--container{
        font-size: 2.5rem; 
    }

    .brands--container p{
        margin-bottom: 5%;
    }

    .brands--container img {
        transform: scale(1.5);
    }

  }

  