body {
    margin: 0px;
    padding: 0px;
}

.info--bar {
    background-color: #142B57;
    width: auto;
    height: 5vh;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.info--bar img {
    width: 30px;
    height: 25px;
}

.info--bar--wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.phone--info {
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.phone--info img {
    margin-right: 10px;
}

.mail--info {
    display:flex;
    align-items: center;
    cursor: pointer;
}

.mail--info img {
    margin-right: 10px;
}

.schedule--info {
    display:flex;
    align-items: center;
}

.schedule--info img {
    margin-right: 10px;
}

@media screen and (max-width: 576px) {
    .info--bar {
        font-size: 0.6rem;
    }  

    .info--bar--wrapper {
        width: 100%;
    }

    .info--bar img {
        width: 22px;
        height: 17px;
    }
    

  }


  @media screen and (min-width: 576px) and (max-width: 768px) {
    .info--bar {
        font-size: 0.8rem;
    }  

    .info--bar--wrapper {
        width: 100%;
    }

    .info--bar img {
        width: 22px;
        height: 17px;
    }
    

  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .info--bar {
        font-size: 0.9rem;
    }  

    .info--bar--wrapper {
        width: 100%;
    }

    .info--bar img {
        width: 25px;
        height: 20px;
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .info--bar {
        font-size: 1rem;
    }  

    .info--bar--wrapper {
        width: 100%;
    }

    .info--bar img {
        width: 28px;
        height: 23px;
    }

  }

  @media screen and (min-width: 1200px) and (max-width: 1700px) {
    .info--bar {
        font-size: 1rem;
    }  

    .info--bar--wrapper {
        width: 100%;
    }

    .info--bar img {
        width: 28px;
        height: 23px;
    }

  }

  @media screen and (min-width: 200px) and (max-width: 800px) and (orientation: landscape) {
    .info--bar{
        height: 8vh;
    }
    
  }
