body {
    margin: 0px;
    padding: 0px;
}

.info--about--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid blue;*/
}

.info--about--wrapper {
    display: flex;
    flex-direction: column;
    width: 45%;
    /*border: green 2px solid;*/
    color: #383838;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 0.9rem;
}

.info--about--top {
    /*border: yellow 2px solid;*/
    display: flex;
}

.aboutus--section--title {
    font-family: 'Roboto Slab'; 
    color: #142B57;
    font-weight: 500; 
    font-size: 30px;
    /*border: 2px solid blue;*/
}

.about--top--description {
    display: flex;
    flex-direction: column;
    /*border: 2px green solid;*/
}

.info--about--top img, .info--about--bottom img {
    /*border: yellow 2px solid;*/
    width: 400px;
}

.info--about--bottom {
    /*border: red 2px solid;*/
    display: flex;
    margin-top: 2%;
}


.paragraph--1 {
    width: 90%;
    line-height: 25px;
    /*border: 2px red solid;*/
}

.paragraph--2, .paragraph--3 {
    width: 90%;
    margin-left: 10%;
    line-height: 25px;
}

.paragraph--2--mobile, .paragraph--3--mobile {
    display: none;
}


.our--services--section, .brands--section, .info--about--wrapper {
    margin-top: 6%;
}


.brands--section {
    margin-bottom: 6%;
}

#ourstory-btn {
    border: none;
    width: 230px;
    height: 40px;
    border-radius: 4px;
    color: white;
    background-color: #27B179;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    transition: all 0.5s;
    cursor: pointer;
}

#ourstory-btn-mobile{
    display: none;
}

#ourstory-btn span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

#ourstory-btn span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

#ourstory-btn:hover span {
padding-right: 25px;
}

#ourstory-btn:hover span:after {
opacity: 1;
right: 0;
}

#ourstory-btn:hover {background-color: #142B57}

#ourstory-btn:active {
  background-color: #142B57;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 576px) {

    .main--landing{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .our--services--section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .info--about--wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
       /* border: green 2px solid;*/
        color: #383838;
        font-family: 'Inter';
        font-weight: 200;
        font-size: 0.9rem;
    }
    
    .info--about--top {
        /*border: yellow 2px solid;*/
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
    
    .aboutus--section--title {
        margin-bottom: 0;
        /*border: 2px solid blue;*/
    }
    
    .about--top--description {
        margin-left: 2%;
        /*border: 2px green solid;*/
    }
    
    .info--about--top img{
        /*border: purple 2px solid;*/
        width: 52%;
    }

    #ourstory-btn-mobile{
        display: flex;
        border: none;
        height: 40px;
        border-radius: 4px;
        color: white;
        background-color: #27B179;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
        transition: all 0.5s;
        cursor: pointer;
        width: 180px;
    }

    #ourstory-btn {
        display: none;
    }

    .info--about--bottom {
        /*border: red 2px solid;*/
        flex-wrap: wrap;
        margin-top: 2%;
        padding: 1%;
    }
    
    
    .info--about--bottom img {
        width: 47%;
    }

    .paragraph--2--mobile{
        display: flex;
        width: 50%;
        line-height: 25px;
        margin-bottom: 0;
        margin-left: 2%;
    }

    .paragraph--3--mobile{
        display: flex;
        margin: 0;
        line-height: 25px;
    }

    .paragraph--1, .paragraph--2--mobile, .paragraph--3--mobile{
        font-size: 0.7rem;
    }

    .paragraph--wrappers{
        display: none;
    }

    
  }

  @media screen and (min-width: 576px) and (max-width: 768px) {
    
    .info--about--wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        /*border: rgb(255, 220, 105) 2px solid;*/
        color: #383838;
        font-family: 'Inter';
        font-weight: 200;
        font-size: 0.9rem;
    }
    
    .info--about--top {
        /*border: yellow 2px solid;*/
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
    
    .aboutus--section--title {
        margin-bottom: 0;
        /*border: 2px solid blue;*/
    }
    
    .about--top--description {
        width: 95%;
        /*border: 2px green solid;*/
    }
    
    .info--about--top img{
       /* border: purple 2px solid;*/
        width: 80%;
    }


    .info--about--bottom {
       /* border: red 2px solid;*/
        margin-top: 2%;
        padding: 1%;
    }
    
    
    .info--about--bottom img {
       /* border: purple 2px solid;*/
        width: 45%;
    }

    .paragraph--2--mobile{
        /*display: flex;
        width: 45%;
        margin-bottom: 0;
        margin-left: 6%;*/
    }

    .paragraph--3--mobile{
        /*display: flex;
        margin: 0;*/
    }

    .info--about--bottom img{
        width: 100%;
    }

    .paragraph--1 {
        font-size: 0.7rem;
        line-height: 24px;
    }

    .paragraph--2, .paragraph--3{
        font-size: 0.7rem;
        line-height: 20px;
    }

    .paragraph--wrappers{
        width: 100%;
    }

    
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    
    .info--about--wrapper {
        width: 95%;
    }
    
    .info--about--top img, .info--about--bottom img {
        max-width: 49%;
        height: auto;
    }
    
    .about--top--description{
        margin-left: 4%;
    }

    .paragraph--1{
        margin-bottom: 10%;
    }
    
    .paragraph--2, .paragraph--3 {
        width: 90%;
        line-height: 20px;
    }

    .info--about--bottom{
        margin-right: 5%;
    }

  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {

    .info--about--wrapper {
        width: 85%;
    }
    
    .info--about--top img, .info--about--bottom img {
        max-width: 100%;
        height: auto;
    }
    
    .about--top--description{
        margin-left: 4%;
    }

    .paragraph--1{
        margin-bottom: 10%;
    }
    
    .paragraph--2, .paragraph--3 {
        width: 90%;
        margin-left: 10%;
        line-height: 25px;
    }

    .info--about--bottom{
        margin-right: 5%;
    }

  }

  @media screen and (min-width: 1200px) and (max-width: 1700px) {

    .info--about--wrapper {
        width: 65%;
    }
    
    .info--about--top img, .info--about--bottom img {
        max-width: 100%;
        height: auto;
    }
    
    .about--top--description{
        margin-left: 2%;
    }

    .paragraph--1{
        margin-bottom: 10%;
        width: 80%;
    }
    
    .paragraph--2, .paragraph--3 {
        width: 90%;
        margin-left: 20%;
        line-height: 25px;
    }

    .info--about--bottom{
        margin-right: 5%;
    }

  }

  @media screen and (min-width: 200px) and (max-width: 800px) and (orientation: landscape) {

    .main--landing{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .our--services--section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .info--about--wrapper {
        width: 95%;
    }
    
    .info--about--top img, .info--about--bottom img {
        max-width: 49%;
        height: auto;
    }
    
    .about--top--description{
        margin-left: 4%;
    }

    .paragraph--1{
        margin-bottom: 10%;
    }
    
    .paragraph--2, .paragraph--3 {
        width: 90%;
        line-height: 20px;
    }

    .info--about--bottom{
        margin-right: 5%;
    }


  }