body {
    margin:0;
    padding: 0;
}

.navbar--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    box-shadow: 0px 4px 8px 0px rgba(90, 90, 90, 0.25); 
    background-color: white;
    
}

.navbar--container img {
    width: 95px;
    margin-left: 30px;
    
}

.navlinks--list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*border: 2px red solid;*/
    gap: 8.5%;
    width: 100%;
    margin-right: 5%;
}

.navlinks--list li a{
    text-decoration: none;
    color: #5B5B5B;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 700; 
    /*border: 2px yellow solid;*/
}

.navlinks--list li {
    position: relative;
  }
  


.navlinks--list li::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the position of the underline */
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #27B179; /* Adjust the color of the underline */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition properties for sliding and fading */
    transform: scaleX(0); /* Start with the underline scaled to 0 width */
    opacity: 0; /* Start with the underline hidden */
  }
  
  .navlinks--list li:hover::after {
    transform: scaleX(1); /* Scale the underline to full width */
    opacity: 1; /* Show the underline */
  }

  @media screen and (max-width: 576px) {
    .navlinks--list{
      display: none;
  }
    
  }
  
  @media screen and (min-width: 576px) and (max-width: 768px) {
    .navlinks--list{
      display: none;
  }
  }

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) and (max-width: 1700px) {
  .navbar--container {
    height: 15vh;
  }
}

@media screen and (min-width: 200px) and (max-width: 800px) and (orientation: landscape) {

  .navbar--container {
    height: 15vh;
  }

  .navbar--container img {
    width: 8%;
    margin-left: 5%;
    
  }

}