
.user--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*border: 2px red solid;*/
    font-family: 'Inter';
    width: 25%;
    border-radius: 60px; 
}

.user--card img {
    width: 220px;
}

.user--card h3 {
    color: #142B57; 
    font-size: 24px;
}

.user--card p {
    font-style: italic; 
    /*border: 2px yellow solid;*/
    text-align: center;
    width: 52%;
    color: #434343; 
    line-height: 25px;
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    .user--card {
        width: 50%;
    }

    .user--card img {
        width: 80%;
    }

    .user--card h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .user--card p {
        width: 85%;
        font-size: 0.9rem;
        line-height: 23px;
    }
  }